:root {
    --sign-in-fields-color: rgba(255,255,255,0.8);
    --sign-in-button-and-border-color: red;
    --overlay-color-from: rgba(0,0,0,0.4);
    --overlay-color-to: rgba(0,0,0,0.4);
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(var(--overlay-color-from),var(--overlay-color-to)), url("bg.png");
    background-position: 50% 50%!important;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100%;
}
h1
{
    margin-top:50px ;
    margin-bottom: 100px;
color: white;
text-align: center;
}
h3
{
    margin-top:50px ;
    margin-bottom: 50px;
color: white;
text-align: center;
}
.btn
{
    margin: 5px 5px 5px 5px;
}