:root {
    --sign-in-fields-color: rgba(255,255,255,0.8);
    --sign-in-button-and-border-color: red;
    --overlay-color-from: rgba(0,0,0,0.4);
    --overlay-color-to: rgba(0,0,0,0.4);
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(var(--overlay-color-from),var(--overlay-color-to)), url("bg.png");
    background-position: 50% 50%!important;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    padding-top: 70px; /* This should be equal to the height of your header */

}

h1
{
    margin-top:50px ;
    margin-bottom: 100px;
color: white;
text-align: center;
}
h3
{
    margin-top:50px ;
    margin-bottom: 50px;
color: white;
text-align: center;
}
.btnInstructor
{
    background-color: red;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right:20px;
    display:block;
    padding: 10px 20px;
    width: fit-content;
   
    text-align: center;
}
.btnStudent
{
    background-color: green;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right:10px;
    display:block;

    padding: 10px 20px;
    width: fit-content;
    
    text-align: center;
}
.btns{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;

}